@import "../../.cache/wal/colors-waybar.css";


* {
  font-family: "Fira Sans Semibold", "FiraCode Nerd Font",
    "FiraCode Nerd Font Mono";
    border-radius: 20px;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 1s;
}

tooltip {
  border-radius: 10px;
  background-color: @background;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @foreground;
}

.modules-right {
  background: @background;
}

#left, #system, #timelang, #taskbarr {
  background: @background;
}


#custom-arch {
  font-size: 25px;
  color: @color1;
  margin: 0px 20px 0px 20px;
}

#workspaces {
  background: transparent;
  margin: 3px 0px 3px 0px;
  border-radius: 15px;
  font-size: 16px;
  color: @color1;
}
  
#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  color: @color1;
  background-color: @foreground;
  transition: all 0.3s ease-in-out;
}
  
#workspaces button.active {
  color: @color1;
  background: @foreground;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}
  
#workspaces button:hover {
  color: @color1;
  background-color: @foreground;
  border-radius: 15px;
  opacity: 0.7;
}
  
#workspaces button.empty {
    background: @foreground;
    opacity: 0.3;
}


#window {
  background: transparent;
  color: @foreground;
  margin: 5px 15px 5px 0px;
  padding: 2px 10px 0px 10px;
  border-radius: 12px;
  font-size: 16px;
}


#taskbar {
  background: @background;
}

#taskbar.empty {
  background: transparent;
}

#taskbar button.active {
  background: @color1;
  padding: 3px 3px;
  margin: 3px 3px;
  transition: all 0.3s ease-out;
}


#language {
  margin: 0px 0px 0px 10px;
  font-size: 16px;
}

#clock {
  background-color: transparent;
  font-size: 18px;
  color: @foreground;
  border-radius: 15px;
  padding: 1px 10px 0px 10px;
  margin: 3px 0px 3px 0px;
}

#network {
  background-color: transparent;
  font-size: 20px;
  color: @foreground;
  padding: 2px 0px 0px 10px;
}

#audio, #batt, #blight{
  min-width: 30px;  
}

#backlight.main, #pulseaudio.main, #battery.main,#bluetooth.main {
  background-color: transparent;
  font-size: 16px;
  color: @foreground;
  padding: 2px 15px 0px 15px;
}

#backlight.percent, #pulseaudio.volume, #battery.percent, #bluetooth.stat{
  font-size: 12px;
  color: @foreground;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @color3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  padding: 10px 10px 10px 10px;
  background-color: @background;
}

